@{
    ViewBag.Title = "Settle - Home";
}

<div class="jumbotron">
    <h1>Settle</h1>
    <p class="lead">Do more with your money.  Make sure you can pay your vendors when you get paid.  No more waiting.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Learn how to link your outgoing payments to your incoming payments. Your sub-contractors get paid when you do.  No more waiting for payments to clear your bank before you can pay others
        </p>
        <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request payments with only an email address or a phone number</h2>
        <p>It's easier than ever to get your money.  All you need is an email address or a phone number.  We'll take care of the rest.</p>
        <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make or request multiple payments simultaneously</h2>
        <p>Is that payment you're receiving going out to pay more than one person?  Find out how you can link incoming funds to multiple outgoing parties.  Send out a flat rate or a percentage.  Make recurring payments tied and tie them to your received payments.</p>
        <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
    </div>
</div>